<section>
    <!DOCTYPE html>
    <html lang="ko">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width", initial-scale="1.0">
            <title><%= crew_info.crew_name %></title>
            <style>
                .header{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: space-between;
                    margin: 20px 0 0 15px;
                    border-bottom: 4px solid #6BB9ED;
                }
                .logo {
                    border: 0;
                    background-color: white;
                    cursor: pointer;
                }
                .login {
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-column-gap: 30px;
                    list-style-type: none;
                    margin-right: 20px;
                }

                .login a{
                    text-decoration: none;
                    color: black;
                    font-weight: 800;
                }               
                .table{
                    width:35%;
                    margin: 0 auto;
                    border: hidden;
                }
                .email{
                    width:50%;
                    height:30px;
                }
                .crewname{
                    text-align:center;
                    width:40%;
                    font-size: 25px;
                    font-weight: bold;
                }
                .title{
                    text-align:center;
                    font-size: 25px;
                    font-weight: bold;
                    color:blue;   
                }
                form{
                    width:35%;
                    margin: 0 auto;
                    border: hidden;
                }
                .answers{
                    width:100%;
                    height:100px;
                }
                .apply_submit{
                    text-align:center;
                    width:10%;
                    margin:auto;
                    display:block;
                }
                #submit{
                    width:15%;
                    margin:auto;
                    display:block;
                }

            </style>
        </head>    
        <body>
            <br>
            <br>
            <br>
            <br>
            <table class="table">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td class="crewname">
                            <%= crew_info.crew_name %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <form name="apply_post" action="/apply/<%= crew_info.identify_numb_manager %>" method="POST">
                <tr>
                    <td>
                        <input type="text" name="email" placeholder="이메일 주소를 입력하시오.">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p> <%= crew_info.application_question_1 %> </p>
                        <p><textarea class="answers" name="application_ans1"  class="apply_ans"></textarea></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p> <%= crew_info.application_question_2 %> </p>
                        <p><textarea class="answers" name="application_ans2"  class="apply_ans"></textarea></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p> <%= crew_info.application_question_3 %> </p>
                        <p><textarea class="answers" name="application_ans3"  class="apply_ans"></textarea></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p> <%= crew_info.application_question_4 %> </p>
                        <p><textarea class="answers" name="application_ans4"  class="apply_ans"></textarea></p>
                </td>
                </tr>
                <tr>
                    <td>
                        <p> <%= crew_info.application_question_5 %> </p>
                        <p><textarea class="answers" name="application_ans5"  class="apply_ans"></textarea></p>
                    </td>
                </tr>
                <br>
                <br>
                <input type="submit" id="submit" name="submit" value="제출하기">   
                <br>
                <br>
            </form>
        </body>
</section>